.container{
    display: flex;
        width: 1440px;
        padding: 7px 80px;
        justify-content: space-between;
        align-items: center;
}

.website-icon{
    width: 124.935px;
        height: 30.331px;
}

.first{
    display: flex;
        align-items: center;
        gap: 48px;
}
.input-wrapper{
    position: relative;
display: flex;
    width: 380px;
    padding: 9px 16px;
    align-items: center;
    gap: 10px;
    height: 50px;
}
.search-icon{
 position: absolute;
    width: 19.456px;
        height: 19.456px;
        flex-shrink: 0;
        left: 8%;
    
}
.header-input{
    color: #8191BA;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 8px;
        height: 40px;
      
      
}
::-webkit-input-placeholder {
    padding-left: 30px;

}

.second{
    display: flex;
        align-items: center;
        gap: 24px;
}
.header-common{
    display: flex;
        align-items: center;
        gap: 24px;
        cursor: pointer;
}
.header-common:hover{
    color: #3B72FF;
}
.vl{
    background: rgba(0, 0, 0, 0.12);
    width: 1px;
        height: 21px;
}